<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="container">
      <div>
        <h3>Login to Chirper</h3>
        <form action="/#" method="post">
          <input type="text" name="username" id="" placeholder="Username" />
          <input type="password" name="password" id="" placeholder="Password" />
          <button type="submit">Signin</button>
          <a href="#">Sig up for Chirper</a>
        </form>
      </div>
    </div>
  </body>
</html>
