<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chirper Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <!-- Navigation bar -->
    <nav class="bg-white border-b border-gray-200 p-4">
      <div class="max-w-7xl mx-auto flex justify-between items-center">
        <div class="flex-shrink-0">
          <a href="#" class="text-xl font-bold text-blue-500">Chirper</a>
        </div>
        <div class="flex">
          <a
            href="#"
            class="text-gray-600 hover:text-blue-500 mr-4 border-b border-blue-500"
            >Home</a
          >
          <a href="#" class="text-gray-600 hover:text-blue-500 mr-4">Explore</a>
          <a href="#" class="text-gray-600 hover:text-blue-500 mr-4"
            >Notifications</a
          >
          <a href="#" class="text-gray-600 hover:text-blue-500 mr-4"
            >Messages</a
          >
        </div>
        <div
          class="flex items-center border border-gray-200 rounded-full hover:bg-grey-600"
        >
          <a href="#" class="text-gray-600 hover:text-blue-500">
            <img
              src="https://via.placeholder.com/50"
              alt="User avatar"
              class="w-10 h-10 rounded-full m-2"
          /></a>
        </div>
      </div>
    </nav>

    <!-- Main content area -->
    <main class="max-w-7xl mx-auto mt-4">
      <section
        class="bg-white border border-gray-200 p-4 rounded-lg shadow-sm mb-4"
      >
        <div class="flex">
          <div class="flex-shrink-0">
            <img
              id="profile-picture"
              src="https://placehold.co/150"
              alt="User avatar"
              class="w-50 h-50 rounded-full"
            />
          </div>
          <div class="ml-5 justify-center flex flex-col">
            <h2 class="text-lg font-semibold" id="name">John Doe</h2>
            <p class="text-gray-600" id="username">@johndoe</p>
            <p class="text-gray-600" id="email">john@doe.com</p>
          </div>
        </div>
      </section>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        let myRequest = new Request("/api/profile", {
          method: "GET",
        });
        let fetchReq = fetch(myRequest);
        fetchReq.then((res)=>{
          return res.json()
        }).then((data)=>{
          document.getElementById("name").innerText= data.firstName+" "+data.lastName
          document.getElementById("username").innerText= "@"+data.username
          document.getElementById("email").innerText= data.email
        })

      });
    </script>
  </body>
</html>
