.btn-container{
    padding: 10px;
    display: flex;
    flex-direction: row;
}
applyBackgroundAndDropShadow(color,size){
    background:color;
    box-shadow:1px 1 px balck
}

.btn{
    font-size: 20px;
    font-weight: bold;
}
#btn-msg extend .btn{
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    applyBackgroundAndDropShadow(#fff,10px)
}

.btn-container #btn{
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}
